root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.kt]
ktlint_code_style = ktlint_official
# @Composable functions and the iOS framework entry are PascalCase by convention.
ktlint_standard_function-naming = disabled
# CompositionLocals and Compose-style constant vals are PascalCase by convention.
ktlint_standard_property-naming = disabled

[*.md]
trim_trailing_whitespace = false
